@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap");
body {
  font-family: "Kaisei Tokumin", serif;
  background-color: #1e1e1e;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
